/*fundo com logo*/
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #eaeef7;
    
    background-image: url("../img/opaco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 300px;
    overflow:scroll;
}

/*menu*/
#nav {
    width: 443px;
    height: 110px;
    background: #f9f9f9;
    float: left;
    margin-left: 36%;
    position: absolute;
    z-index: 9999;
}

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        float: left;
    }

        #nav ul li {
            float: left;
            font: 16px arial;
        }

    #nav li ul {
        position: absolute;
        left: 150;
        top: 60;
        display: none;
    }

    #nav ul li a {
        color: #888;
        text-decoration: none;
        padding: 20px;
        display: block;
    }

    #nav ul li:hover {
        background: #eee;
    }

    #nav ul li .enviar {
        background: url(../img/enviar.png) no-repeat center;
        float: left;
        width: 45%;
        padding: 30px;
        margin-bottom: 15px;
    }

    #nav ul li .info {
        background: url(../img/info.png) no-repeat center;
        float: left;
        width: 70%;
        padding: 30px;
        margin-bottom: 15px;
    }

    #nav ul li .consulta {
        background: url(../img/situacao2.png) no-repeat center;
        float: left;
        width: 45%;
        padding: 30px;
        margin-bottom: 15px;
    }

/*fundo da tela com menu View 1*/
#enviararq {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 100px;
    width: 100%;
    margin-left: 90%;
    padding: 140px;
    text-align: center;
    background-color: #eaeef7;
    opacity: 0.9;
    position:relative; 
}
    

#view {
    position: absolute;
    
}
/*botao upload*/
.upload-btn-wrapper {
    position: relative;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/*batao de enviar*/

#upbutton {
    font-size: 17px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
}

/*view 2*/
#info {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 200px;
    margin-left: 35%;
    padding: 50px;
    width: 100%;
    text-align: center;
    background-color: #eaeef7;
    opacity: 0.9;
    
}

#btSalva, #btCancela {
    font-size: 13px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
}
/*View 3*/
#consulta {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 120px;
    width: 900px;
    margin-left: 400px;
    padding: 80px;
    background-color: #eaeef7;
    opacity: 0.9;
    position: absolute;
}

#btConsulta {
    font-size: 13px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    position: center;
    
    
}

#situacaolote {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    padding: 10px;
    margin-left: 80px;
    background-color: #b8c9f2;
    position: absolute;

}
#btConsultaLote {
    font-size: 11px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    position: center;
}
#nfsporrps {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    margin-left: 410px;
    padding: 10px;
    background-color: #b8c9f2;
    position: absolute;
}
#btConsultaNfseRps {
    font-size: 10px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    position: center;
}
#loterps {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    margin-top: 160px;
    margin-left: 80px;
    padding: 10px;
    background-color: #b8c9f2;
    position: absolute;
}
#btConsultaloteRPS {
    font-size: 11px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    position: center;
}
#nfse {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    margin-left: 410px;
    margin-top: 160px;
    padding: 10px;
    background-color: #b8c9f2;
    position: absolute;
}
#btConsultaNfse {
    font-size: 11px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    position: center;
}
#rodape {
    font-family: 'Josefin Sans', sans-serif;
    font-size:15px;
    position: absolute;
    display: block;
    margin-top: 60%;
}
